<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>@ViewData["Title"] - JaguarProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <style>
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <header style="background-color: #f8f8e7; height:90px">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <div class="logojaguar" style="margin-left: 15px; margin-top:-10px"> 
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/logoNo.png" width="180" height="100" />
            </a>
        </div>
        <div class="info" style="margin-top:-25px">
            <p class="adress">г. Магнитогорск, пр.Карла Маркса 172</p>
            <p class="adress" style="color:black; font-size:18px">8 (3519) 45-69-77</p>
            <p class="adress">Рабочий e-mail: m-fit69@mail.ru</p>
        </div>
    </div>
    </header>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-0 text-center" style="background-color: #4c261b">
            <div class="container" style="margin-left:420px">              
                                 
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a  class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Тарифы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link text-white">Акции</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link text-white">Команда</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="margin-top:250px">
        <div class="container">
            &copy; 2022 - JaguarProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
