@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container bg-whit">
        <div id="demo" class="carousel slide" data-ride="carousel" style="width:100%">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/1.jpg" alt="Jaguar1">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/2.jpg" alt="Jaguar2">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/3.jpg" alt="Jaguar3">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/4.jpg" alt="Jaguar4">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/5.jpg" alt="Jaguar5">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <div class="container">
            <div class="row" style="margin-top: 50px; width: 100%; margin-bottom: 50px;">
                <div class="maxwidththeme">
                    <div class="col-md-12">
                        <div class="row" style="margin-left:0px">
                            <div class="col-md-6 col-sm-6">
                                <h3 class="underline"> О фитнес центре </h3>
                                <p>
                                    Совершенное тело не просто красиво, оно вызывает чувство гордости и в настоящее время стало одним из показателей успешности.
                                    <br>
                                    <br>
                                    С абонементом фитнес-центра «Ягуар» занятия спортом превратятся в удовольствие. Вы сами выбираете интенсивность тренировок, можете ходить в зал хоть каждый день.
                                    Выбор спортивного направления тоже зависит только от вашего настроения: танцы, степ, аэробика, пилатес, йога или что-то другое.
                                    <br>
                                    <br>
                                    Не хотите посещать групповые занятия? В вашем распоряжении современный тренажерный зал. Команда квалифицированных тренеров поможет подобрать индивидуальную программу тренировок и питания.
                                    <br>
                                    <br>
                                    Попробовать все или остановиться на чем-то одном? Большой выбор абонементов и клубных карт дает возможность с выгодой для кошелька ни в чем себя не ограничивать.
                                    <br>
                                    <br>
                                    В фитнес-центре «Ягуар» легко скорректировать фигуру, расстаться со стрессом и зарядиться позитивом. Приходите и занимайтесь в любое удобное время!

                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <img alt="logo.png" src="~/Images/circleLogo.png" height="450" width="450" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #f8f8e7; ">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px;">
                    <img src="~/Images/gymm.jpg" class="card-img-top" alt="gym.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Тренажерный зал</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px;">
                    <img src="~/Images/group_trainn.jpg" class="card-img-top" alt="group_train.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Групповые тренировки</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px;">
                    <img src="~/Images/saunaa.jpg" class="card-img-top" alt="sauna.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Сауна</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px; margin-bottom: 50px;">
                    <img src="~/Images/massagee.jpg" class="card-img-top" alt="massage.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Массаж</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px; margin-bottom: 50px;">
                    <img src="~/Images/solariumm.jpg" class="card-img-top" alt="solarium.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Солярий</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; margin-top: 50px; margin-bottom: 50px;">
                    <img src="~/Images/tennis.jpg" class="card-img-top" alt="tennis.jpg">
                    <div class="card-body" style="background-color: #4c261b;">
                        <h5 class="card-title" style="color:white">Настольный теннис</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>