@model test.Models.People
@{
    ViewData["Title"] = "Contacts";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        body {
            overflow-x: hidden;
        }
        .scale {
            transition: 1s;
        }
        .scale:hover {
         transform: scale(1.2);
        }
    </style>
</head>

<body>
    <div style="width: 100vw; margin-left: calc(50% - 50vw);">
        <img src="~/Images/shapka6.jpg" alt="" />
    </div>

    <section class="page-top">
        <div class="row">
            <div class="maxwidth-theme">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 id="pagetitle" class="underline">Контакты</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col">
                <p>
                    Адрес ФЦ «ЯгуаR»:
                    <br>
                    г. Магнитогорск, пр.Карла Маркса 172
                    <br>
                    ТРК Семейный парк, 4 этаж
                    <br>
                    <br>

                    Телефон: (3519) 45-69-77
                    <br>
                    Рабочий e-mail: m-fit69@mail.ru
                    <br>
                    Группа Вконтакте: https://vk.com/mfitness_mgn
                    <br>
                    <br>

                    ФЦ «ЯгуаR» ждет тебя!


                    <br>
                    <br>

                    <h3>Оставить заявку</h3>
                  


                </p>
                    <form asp-controller="Home" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label">Имя</label>
                        <input asp-for="Name" class="form-control" style="width: 300px"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="col-form-label">Телефон </label>
                        <input asp-for="Phone" class="form-control" style="width: 300px" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group p-4">
                        <input type="submit" value="Создать" class="btn btn-outline-success btn-sm" style="background: #C1172C; color: white; margin-left:85px" /> &emsp;

                    </div>
                </form>

            </div>
            
        </div>
    </div>
        <div class="w-100"></div>
</body>
