@{
    ViewData["Title"] = "News";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            overflow-x: hidden;
        }
        .scale {
            transition: 1s;
        }

            .scale:hover {
                transform: scale(1.2);
            }
    </style>
</head>

<body>
    <div style="width: 100vw; margin-left: calc(50% - 50vw);">
        <img src="~/Images/shapka5.jpg" alt="" />
    </div>

    <section class="page-top">
        <div class="row">
            <div class="maxwidth-theme">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 id="pagetitle" class="underline" style="align-content:center">Новости</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <div style="text-align:center">
        <p>
            Внимание! В ФЦ «Ягуар» требуется тренер тренажерного зала.
            <br>
            Подробности по тел. 89085877353. Резюме можно отправить на почту m-fit69@mail.ru
        </p>
        <img alt="" src="~/Images/vacansy.jpg" style="height:300px" />


        <hr />

        <p>
            Уважаемые клиенты!
            <br>
            Ознакомьтесь с правилами парковки для клиентов ФЦ «Ягуар»!
        </p>

        <img alt="" src="~/Images/parking.jpg" style="width:400px; height:500px; margin-top:20px" />

        <hr />

        <p>
            ВНИМАНИЕ 9 апреля (суббота) в 12:00
            <br>
            состоится ОТКРЫТЫЙ УРОК по направлению Body Sculpt
            <br />
            Body Sculpt – это вид силовой тренировки, проходящей в аэробном режиме, целью которой является развитие мышечной силы и создание мышечного рельефа, с применением специального оборудования (гантелей, степ-платформ, бодибара и прочего оборудования)
            <br />
            
            Body sculpt помогает :
            <br style="text-align:left">
            -снять стресс и утомление с мышц
            <br style="text-align:left">
            -разгрузить суставы и связки, одновременно укрепляя их и мускулы
            <br style="text-align:left">
            -уменьшить имеющуюся жировую прослойку
            <br style="text-align:left">
            -сделать тело подтянутым и выносливым
            <br style="text-align:left">
            -получить заряд бодрости
            <br>
            
            Данная тренировка позволяет не только укрепить мышцы, но и скинуть лишние килограммы, поможет повысить выносливость, улучшить осанку, обмен веществ и создать красивое, подтянутое тело.
            <br>
            Тренер: Арина Хулапова
            <br>


            ВХОД СВОБОДНЫЙ 
        </p>
        <img alt="" src="~/Images/arina.jpg" style="width:400px; height:500px; margin-top:20px" />
    </div>
</body>
