@{
    ViewData["Title"] = "Solarium";
}
<section class="page-top">
    <div class="row">
        <div class="maxwidth-theme">
            <div class="col-md-12" style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="pagetitle" class="underline">Солярий</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col" style="margin-left:-15px;">
            <p id="1">
                <img width="600" src="~/Images/salariy.jpg" alt="" />
            </p>
        </div>
        <div class="col">
            <p>
             Во время любой физической работы мышцы разогреваются, ускоряется кровообращение и обмен веществ, что обеспечит быстрый и равномерный загар.                
            </p>
        </div>
    </div>
</div>