@{
    ViewData["Title"] = "Akcii";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            overflow-x: hidden;
        }

        .scale{
            transition: 1s;


        }
        .scale:hover {
            transform:scale(1.2);
        }

    </style>
</head>

<body>
    <div style="width: 100vw; margin-left: calc(50% - 50vw);">
        <img src="~/Images/shapka2.jpg" alt="" />
    </div>

    <section class="page-top">
        <div class="row">
            <div class="maxwidth-theme">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 id="pagetitle" class="underline">Акции</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 " style="margin-left: -120px; margin-right: 100px; margin-bottom: 30px;">
            <p>
                <img src="~/Images/akciyaFamily.jpg" alt="" style="width:400px; height:500px;"  class="scale"/>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-left: -200px; margin-right: 200px; margin-bottom: 30px;">
            <p>
                <img src="~/Images/tarifProfiSkiba.jpg" alt="" style="width:400px; height:500px" class="scale"/>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3" style="margin-bottom: 30px;">
            <p>
                <img src="~/Images/tarifProfi.jpg" alt="" style="width:400px; height:500px" class="scale" />
            </p>
        </div>
    </div>






</body>
