@{
    ViewData["Title"] = "Gym";
}

<section class="page-top">
    <div class="row">
        <div class="maxwidth-theme">
            <div class="col-md-12" style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="pagetitle" class="underline">Тренажерный зал</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col" style="margin-left:-12px;">
            <p id="1">
                <img width="600" src="~/Images/gyminfo.jpg" alt="" />
            </p>
        </div>
        <div class="col">
            
            <p>                
                
                    Это место для тех, кто хочет укрепить мышцы, приобрести красивую подтянутую фигуру и осанку. Занятия в тренажерном зале – один из  самых  эффективных  способов коррекции фигуры.
                <br />
                <br />
                    Тренажерный зал оснащен оборудованием, позволяющим работать над разными группами мышц и отвечает потребностям любого уровня и физического состояния занимающихся.
                <br />
                <br />
                    В нашем  тренажерном зале можно заниматься как самостоятельно, так и под руководством опытного тренера, который не только составит программу тренировок индивидуально для вас, но и будет контролировать техник у выполнения упражнений и нагрузку в ходе занятий.
                
                
            </p>
            
        </div>
</div>
</div>