@{
    ViewData["Title"] = "Team";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            overflow-x: hidden;
        }
        ::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0px !important;
            text-align: start !important;
            text-align-last: start !important;
        }
    </style>
</head>

<body>
    <div style="width: 100vw; margin-left: calc(50% - 50vw);">
        <img src="~/Images/shapka2.jpg" alt="" />
    </div>

    <section class="page-top">
        <div class="row">
            <div class="maxwidth-theme">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 id="pagetitle" class="underline">Тренерский состав</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col" style="margin-bottom:50px">
                <p id="1">
                    <img width="400" src="~/Images/LilyaSochnevaa.jpg" alt="" />
                </p>
            </div>
            <div class="col">
                <b>
                    Лилия Сочнева
                </b>
                <br />
                Персональный тренер
                <br>
                <p>
                    <br />
                    <b>Опыт работы:</b>
                    &nbsp;Более 12 лет
                </p>
                <p>
                    <br />
                    <b>Услуги:</b>
                    <br />
                </p>
                <ul>
                    <li>
                        Работа с подростками
                    </li>
                </ul>
                <ul>
                    <li>
                        Восстановительный треннинг
                    </li>
                </ul>
                <ul>
                    <li>
                        Коррекция пищевого поведения
                    </li>
                </ul>

                <p>
                    <br />
                    <b>Контакты:</b>
                    &nbsp;
                    <br>VK: https://vk.com/id3250759
                    <br>
                    89068983690
                    <br>

                </p>
            </div>
            <div class="w-100"></div>

            <div class="row">
                <div class="col" style="margin-left:15px; margin-bottom:120px">
                    <p id="2">
                        <img width="400" src="~/Images/EvgenyaShal.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:80px">
                    <b>
                        Евгения Шаль
                    </b>
                    <br />
                    Персональный тренер
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 11 лет
                    </p>
                    <p>
                        <br />
                        <b>Достижения:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Сертифицированный инструктор групповых программ
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Специалист по питанию
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Мастер тренер по велоаэробике
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Мастер спорта по спортивной аэробике
                        </li>
                    </ul>
                    <ul>
                        <li>
                            КМС по худ. гимнастике
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Чемпион г.Магнитогорска по Фитнес-Бикини
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Неоднократный призер чемпионата области по Фитнес-Бикини
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Финалист кубка России по Фитнес-Бикини
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK: https://vk.com/evgeniyashal
                        <br>
                        +7-963-478-33-66
                        <br>

                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col" style="margin-left:15px">
                    <p id="3">
                        <img width="400" src="~/Images/RenataUsupova.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:20px">
                    <b>
                        Рената Юсупова
                    </b>
                    <br />
                    Персональный тренер
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 7 лет
                    </p>
                    <p>
                        <br />
                        <b>Услуги:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Силовые тренировки
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Ягодицы 3D
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Восстановление после родов
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Подготовка к соревнованиям Фитнес-Бикини
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Пауэрлифтинг
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Достижения:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Сертифицированный специалист по снижению веса
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Мастер спорта по Пауэрлифтингу, NAP
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Мастер спорта по жиму лёжа, NAP
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Диплом о профессиональной переподготовке с присвоением квалификации "Тренер-преподаватель, 2018"
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Диплом об образовании по нутрициологии и спортивной диетологии, FSA, Казань
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Неоднократный победитель и призёр международных турниров по пауэрлифтингу, NAP
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Двухкратный серебряный призёр Чемпионата города по бодибилдингу (бодифитнес)
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Серебряный призёр Чемпионата области по пауэрлифтингу, IPF
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK:  https://vk.com/fitnes_mgn
                        <br>
                        +7912-795-76-57
                        <br>

                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col" style="margin-top:80px;margin-left:15px">
                    <p id="4">
                    <img width="400" src="~/Images/SvetlanaNasirova.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:80px; margin-top:80px">
                    <b>
                        Светлана Насырова
                    </b>
                    <br />
                    Персональный тренер
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 6 лет
                    </p>
                    <p>
                        <br />
                        <b>Награды:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Многократный призёр чемпионатов в номинации Фитнес -Бикини
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Чемпион г.Магнитогорска Фитнес-Бикини
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK:  https://vk.com/id164194408
                        <br>
                        +7-906-854-39-50
                        <br>

                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col" style="margin-top:80px;margin-left:15px">
                    <p id="5">
                    <img width="400" src="~/Images/NikolayIvanov.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:80px; margin-top:80px">
                    <b>
                        Николай Иванов
                    </b>
                    <br />
                    Персональный тренер
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 10 лет
                    </p>
                    <p>
                        <br />
                        <b>Награды:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Сертификат "Инструктор тренажерного зала" Olimpia Lifa 2010г.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Диплом о профессиональной переподготовке с присвоением квалификации "Тренер преподаватель" 2018г.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            МСМК по жиму штанги лёжа
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Чемпион Чел. обл. по армрестлингу
                        </li>
                    </ul>

                    <p>
                        <br />
                        <b>Услуги:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Силовые тренировки с применением эффективных методик
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Направленые на:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Коррекцию фигуры
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Повышение уровня силы
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Силовая выносливость
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Рельефность мускулатуры
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Набор мышечной массы
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Подготовка к соревнованиям по пауэрлифтингу и армрестлингу
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK:  https://vk.com/id114679085
                        <br>
                        +7-908-087-99-45
                        <br>

                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col" style="margin-top:80px;margin-left:15px">
                    <p id="6">
                    <img width="400" src="~/Images/NikitaKaramalak.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:80px; margin-top:80px">
                    <b>
                        Никита Карамалак
                    </b>
                    <br />
                    Персональный тренер
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 7 лет
                    </p>
                    <p>
                        <br />
                        <b>Награды:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Сертифицированный Персональный тренер и Инструктор тренажерного Зала
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Мастер спорта по жиму штанги лёжа
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Неоднократный победитель областных соревнований по жиму штанги лёжа
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Неоднократный чемпион России по жиму штанги лёжа
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Неоднократный призёр и победитель международных соревнований
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Лучший результат в жиме штанги лёжа 200 кг без экипировки
                        </li>
                    </ul>

                    <p>
                        <br />
                        <b>Услуги:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Набор мышечной массы
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Сброс и корректировка веса
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Постановка правильной техники
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Функциональный треннинг
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Рельефность мускулатуры
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Работа с детьми
                        </li>
                    </ul>
                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK:  https://vk.com/aromanik174
                        <br>
                        +7 -964-248-15-21
                        <br>

                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col" style="margin-top:80px;margin-left:15px">
                    <p id="7">
                        <img width="400" src="~/Images/IvanBaturin.jpg" alt="" />
                    </p>
                </div>
                <div class="col" style="margin-left:80px; margin-top:80px">
                    <b>
                        Иван Батурин
                    </b>
                    <br />
                    FPA персональный тренер и дежурный инструктор
                    <br>
                    <p>
                        <br />
                        <b>Опыт работы:</b>
                        &nbsp;Более 12 лет
                    </p>
                    <p>
                        <br />
                        <b>Образование:</b>
                        <br />
                    </p>
                    <ul>
                        <li>
                            Образование :Уральский Государственный Университет Физической культуры,2006-2011 г./Специалист по фк и спорту.
                        </li>
                    </ul>




                    <p>
                        <br />
                        <b>Контакты:</b>
                        &nbsp;
                        <br>
                        VK:  https://vk.com/ivanko87
                        <br>
                        +7-908-062-07-87
                        <br>

                    </p>
                </div>

            </div>
        </div>
        </div>







</body>
