@{
    ViewData["Title"] = "Tennis";
}
<section class="page-top">
    <div class="row">
        <div class="maxwidth-theme">
            <div class="col-md-12" style="margin-top:30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="pagetitle" class="underline">Настольный теннис</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col" style="margin-left:-15px;">
            <p id="1">
                <img width="600" src="~/Images/tenis.jpg" alt="" />
            </p>
        </div>
        <div class="col">

            <p>
                Регулярные занятия настольным теннисом способствуют укреплению мышц ног, рук, спины и пресса. Кроме того, при занятиях настольным теннисом задействованы различные суставы руки, ног и туловища. В результате суставы становятся более гибкими, что позволяет сохранять физическую активность до самой старости.
                </p>

</div>
    </div>
</div>